@namespace AngryMonkey.Cloud.Components
@implements IAsyncDisposable
@inject IJSRuntime JS


<h3>MusicPlayer</h3>
<div class="amc-musicplayer" @ref="ComponentElement">


    <div>
        <ul>
            @foreach (string directory in MusicDirectories)
            {
                <li>@directory</li>
            }
        </ul>
        <input type="text" @bind-value="@FilledMusicDirectory" />
        <button @onclick="AddMusicDirectory">Add Directory</button>
    </div>

</div>


<a href="@TestFilePath" target="_blank">@TestFilePath</a>
<div class="ListContainer">
@foreach (string filePath in Music)
{
    <div @onclick="(() => {OnMusicClicked(filePath);})">@Path.GetFileName(filePath)</div>
}
</div>


<div class="amc-musicplayer-music">
    <audio controls src="@CurrentSongFilePath"></audio>
</div>
